# cmake
**CMakeCache.txt
**CMakeFiles/
**cmake_install.cmake
**Makefile
**.cmake/
.cache/**
!src/sql-engine/Makefile
!./Makefile
VERSION.h

library/
output/
build/
build/include/config.h
build/build_result.log
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
compile_commands.json
build/dependency/zlib/zlib-1.2.12/CTestTestfile.cmake
build/.cache/**
build/debug/
build/release/
build/debug_lite/
build/release_lite/
build/CPack*.cmake
.vscode/**
*.tar.gz
Dockerfile_cli
Dockerfile_functest

pkg/
