BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: false
  BeforeCatch: false
